<!DOCTYPE html>
<html>

<head>
    <base href="file:///<%- appPath %>/">
    <meta charset="UTF-8">
    <style>
        @font-face {
            font-family: "Greycliff";
            src: url('assets/fonts/Greycliff.ttf') format('truetype');
        }

        * {
            box-sizing: border-box;
        }

        @page {
            margin: 0;
        }

        @media print {
            body {
                margin: 0;
                -webkit-print-color-adjust: exact;
            }
        }

        @media not print {
            html {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background: rgb(32, 32, 32);
            }
        }

        html {
            --paper-size: <%- parseInt(printer?.size || 58) %>mm;
            --font-scale: <%- parseFloat(printer?.font_scale || 1) %>;

            --font-size5: <%- Math.ceil(((printer?.size || 58) / 7.2) * (printer?.font_scale || 1)) %>px;
            --font-size4: <%- Math.ceil(((printer?.size || 58) / 5.8) * (printer?.font_scale || 1)) %>px;
            --font-size3: <%- Math.ceil(((printer?.size || 58) / 5.3) * (printer?.font_scale || 1)) %>px;
            --font-size2: <%- Math.ceil(((printer?.size || 58) / 4.5) * (printer?.font_scale || 1)) %>px;
            --font-size1: <%- Math.ceil(((printer?.size || 58) / 3.9) * (printer?.font_scale || 1)) %>px;

            --padding: <%- printer?.padding ? `${parseInt(printer.padding)}%` : `10px` %>;

            width: var(--paper-size);
        }

        body {
            background: white;
            margin: 0;
            padding: 5px 10px;
            padding-right: var(--padding);
            padding-left: var(--padding);
            display: inline-block;
            font-family: "Greycliff", sans-serif;
            font-weight: bold;
            width: 100%;
        }

        header {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        header>.title {
            text-align: center;
            text-transform: uppercase;
            font-size: var(--font-size1);
        }

        header>.type {
            font-size: var(--font-size3);
            margin-bottom: 2px;
        }

        header>.others {
            font-size: var(--font-size5);
            margin-bottom: 5px;
        }

        header>.order {
            font-size: var(--font-size2);
            margin-bottom: 5px;
        }

        #products {
            width: 100%;
            border-bottom: 1px solid gray;
            padding: 5px 0;
            border-spacing: 0;
            border-collapse: collapse;
        }

        #products th {
            font-size: var(--font-size4);
            padding: 3px;
        }

        #products th:nth-child(1) {
            text-align: left;
        }

        #products th:nth-child(2) {
            text-align: left;
        }

        #products th:nth-child(3),
        #products td:nth-child(3) {
            text-align: right;
        }

        #products td {
            font-size: var(--font-size4);
            vertical-align: top;
            padding: 2px;
        }

        #products tr:not(:last-child)>th {
            border-bottom: 1.2px solid black;
            border-bottom-style: solid;
        }

        #products tr:not(:last-child)>td {
            border-bottom: 1px dotted black;
            border-bottom-style: dotted;
        }

        .name-value-table {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .name-value-table .name-value-item {
            display: flex;
            justify-content: space-between;
            gap: 20px;
            font-size: var(--font-size4);
        }

        .name-value-table .name-value-item>.value {
            text-align: right;
        }

        .name-value-table .name-value-item.reverse-colors {
            background-color: black;
            color: white;
            margin: -3px -4px 0;
            padding: 3px 4px 3px;
            border-radius: 3px;
        }

        .name-value-table .name-value-table-group {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        #infos>div:not(:last-child) {
            padding-bottom: 3px;
            margin-bottom: 3px;
            border-bottom: 1px solid #e7e7e7;
        }

        #cost {
            margin: 5px 0 6px;
        }

        tr.sub_item>td {
            font-size: var(--font-size5) !important;
        }

        tr.observation>td {
            font-size: 13px !important;
            font-style: italic !important;
            padding-bottom: 6px !important;
        }

        main {
            border-top: 2px solid black;
            border-bottom: 2px solid black;
        }

        footer {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        footer>.client_name {
            text-align: center;
            font-size: var(--font-size2);
            margin: 10px;
        }

        footer>.website {
            font-size: var(--font-size5);
            font-weight: normal;
            margin: 15px 5px 5px 5px;
        }

        tr.complement_name {
            display: none;
            text-transform: uppercase;
        }

        tr.sub_item {
            text-transform: uppercase;
        }
    </style>
    <% if(order.items.some(item => !!item.complements?.length)) { %>
    <style>
        tr.product {
            background-color: #e8e8e8;
        }
    </style>
    <% } %>
    <% if(printer && printer.size >= 80) { %>
    <style>
        tr.complement_name  {
            display: contents;
        }

        tr.complement_name>td:nth-child(2) {
            padding-left: 10px !important;
        }

        tr.sub_item {
            text-transform: none;
        }

        tr.sub_item>td:nth-child(2) {
            padding-left: 20px !important;
        }
    </style>
    <% } %>
    <title>Via de produção (<%= order.order_company_sequence %>)</title>
</head>

<body>

    <header>
        <span class="title">
            <%= company.name %>
        </span>
        <span class="type">Via de Produção</span>
        <span class="others">NÃO É DOCUMENTO FISCAL</span>
        <span class="order">Pedido: <span><%= order.order_company_sequence %></span></span>
    </header>
    <main>
        <table id="products">
            <tr>
                <th>QNT</th>
                <th>PRODUTO</th>
            </tr>
            <% for(const item of order.items) { %>
                <tr class="product">
                    <td><%= item.quantity %></td>
                    <td><%= item.product.name %></td>
                </tr>

                <% if(!!item.pizza_flavors?.length) { %>
                    <tr class="complement_name">
                        <td></td>
                        <td>Sabores</td>
                    </tr>
                    <% for(const flavor of item.pizza_flavors) { %>
                        <% const total_flavors=item.pizza_flavors.reduce((accumulator, flavor)=> accumulator + flavor.quantity, 0); %>
                        <tr class="sub_item">
                            <td></td>
                            <td>
                                <%= item.pizza_flavors.length> 1 ? `${flavor.quantity}/${total_flavors}` : `${(company.multiply_complements ? flavor.quantity * item.quantity : flavor.quantity) || 1} x` %>
                                <%= flavor.name %>
                            </td>
                        </tr>
                    <% } %>
                <% } %>
                <% for (const complement of item.complements || []) { %>
                    <tr class="complement_name">
                        <td></td>
                        <td><%= complement.name %></td>
                    </tr>
                    <% for (const complement_item of complement.items || []) { %>
                        <tr class="sub_item">
                            <td></td>
                            <td>
                                <span><%= `${complement.required===false ? "+ " : "" }${(company.multiply_complements ? complement_item.quantity * item.quantity : complement_item.quantity) || 1}x` %></span>
                                <%= complement_item.name %>
                            </td>
                        </tr>
                    <% } %>
                <% } %>

                <% if(item.observation) { %>
                    <tr class="observation">
                        <td></td>
                        <td colspan="2">• <%- item.observation %></td>
                    </tr>
                <% } %>
            <% } %>
        </table>
    </main>
    <footer>
        <span class="client_name">
            <%= order.name_client %>
        </span>

        <div id="infos" class="name-value-table">
            <div class="name-value-item">
                <span class="name">Telefone</span>
                <span class="value">
                    <%= order.phone_client %>
                </span>
            </div>
            <% if(!!order.observation) { %>
                <div class="name-value-item reverse-colors">
                    <span class="name">Observação</span>
                    <span class="value">
                        <%= order.observation %>
                    </span>
                </div>
            <% } %>
            <% if(order.scheduledAt) { %>
                <div class="name-value-item reverse-colors">
                    <span class="name">Agendado para</span>
                    <span class="value">
                        <%= new Date(order.scheduledAt).toLocaleDateString("pt-BR", { hour: '2-digit', minute: '2-digit' }) %>
                    </span>
                </div>
            <% } %>
            <div class="name-value-item">
                <span class="name">Data da impressão</span>
                <span class="value">
                    <%= new Date().toLocaleString() %>
                </span>
            </div>
        </div>
        <span class="website"><%= company.subdomain || "www" %>.poppedidos.com.br</span>
    </footer>
</body>

</html>